.layout {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
  overflow: auto; 

}

.logout {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.logout a {
  font-family: "Poppins";

  text-decoration: none;
  color: rgba(40, 53, 146, 1) !important;
}
.fa-arrow-right-from-bracket {
  color: rgba(40, 53, 146, 1) !important;
  margin-right: 10px;
  width: 22.25px;
  height: 21.67px;
  cursor: pointer;
}
